@using MVCBetBud.ServiceReference
@model IEnumerable<MVCBetBud.ServiceReference.Bruger>

@{
    ViewBag.Title = "HighScore";
}

<h2>Highscore</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BrugerNavn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Point)
        </th>
        <th></th>
    </tr>

    @foreach (Bruger item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BrugerNavn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Point)
            </td>
        </tr>
    }

</table>