@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta content = "width=device-width"
          name = "viewport"/>
    <title>ApiGetKampe</title>
</head>
<body>
<div>
</div>
</body>
</html>