
@if (Session["brugerSession"] != null)
{
    
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Profile", "Details", "Bruger")
        </li>
        <li>
            @Html.ActionLink("Logout", "Logout", "Bruger")
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Create", "Bruger")</li>
        <li>@Html.ActionLink("Login", "Login", "Bruger")</li>
    </ul>
}
