
@if (Session["brugerSession"] != null)
{
    <script src="~/Scripts/chat.js"></script>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#" onclick="startChat()">Open chat</a></li>
        <li>
            @Html.ActionLink("Profile", "Index", "Bruger")
        </li>
        <li>
            @Html.ActionLink("Logout", "Logout", "Bruger")
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Create", "Bruger")</li>
        <li>@Html.ActionLink("Login", "Login", "Bruger")</li>
    </ul>
}

