body {
    padding-bottom: 20px;
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea {
    max-width: 280px;
}

.kuponNormal {
    border: 1px solid #dddddd;
}

.kuponSucces {
    border: 1px solid green;
}

    .kuponSucces th {
        border-top-color: green !important;
    }

.kuponFailed {
    border: 1px solid red;
}

    .kuponFailed th {
        border-top-color: red !important;
    }

.sebs td {
    border-top: 1px solid green !important;
}
